* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  src: url(../VCR_OSD_MONO_1.001.ttf);
  font-family: VCR-OSD;
}

body {
    font-family: VCR-OSD;
    color : #ffffff;
    background-color: #000000;
    font-size: 50px;

        background-image: url('../TEXTURES/DimBG.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

.bootup {
  font-family: VCR-OSD;
  color : #ffffff;
  font-size: 24px;

  position: fixed;
  min: width 500px;
  min: height 500px;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;


  white-space: pre-line;
}

footer{
  position: fixed;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: VCR-OSD;
  color : #ffffff;
  background-color: #000000;
  font-size: 24px;
}

.fixed-position {
  position: fixed;
  min: width 500px;
  min: height 500px;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;

  top: 250px;

  white-space: pre-line;
}


.title{
  position: absolute;
  margin-left: 5%;
  margin-top: 10%;
  text-align: center;
  font-family: VCR-OSD;
  font-size : 256px;
  color: #ffffff;
  font-weight: bold;

}

.subtitle{
  position: absolute;
  margin-left: 5%;
  margin-top:22%;
  text-align: center;
  font-family: VCR-OSD;
  font-size : 128px;
  color: #ffffff;
  font-weight: bold;

  max-width:  0;

}

.container {
  position: fixed;
  width:100%;
  height:100%;
  display:flex;
  
  }
