* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  src: url(../VCR_OSD_MONO_1.001.ttf);
  font-family: VCR-OSD;
}

footer {
  position: fixed;
  bottom: .5em;
  width: 100%;
  font-size: 1em;
    padding: .5em;
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
    text-align: left;
}

body {
    font-family: VCR-OSD;
    color : #ffffff;
    background-color: #000000;

    background-image: url('../TEXTURES/DimBG.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

.bootup {
  font-family: VCR-OSD;
  color : #ffffff;
  font-size: 1em;

  position: fixed;
  min: width 500px;
  min: height 500px;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;


  white-space: pre-line;
}

.fixed-position {
  position: fixed;
  min: width 500px;
  min: height 500px;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;

  font-size:  2em;

  top: 2em;

  white-space: pre-line;
}


.title{
  position: absolute;
  margin-left: 5%;
  margin-top: 10%;
  text-align: center;
  font-family: VCR-OSD;
  font-size : 10em;
  color: #ffffff;
  font-weight: bold;

}

.subtitle{
  position: absolute;
  margin-left: 5%;
  margin-top:22%;
  text-align: center;
  font-family: VCR-OSD;
  font-size : 5em;
  color: #ffffff;
  font-weight: bold;

  max-width:  0;

}

.container {
  position: fixed;
  width:100%;
  height:100%;
  display:flex;
  }

